# Added by create-prisma
DATABASE_URL=""

# Prisma Postgres is temporary for 24 hours. Claim this database before it expires using CLAIM_URL.
CLAIM_URL=""

JWT_SECRET=""
JWT_REFRESH_SECRET=""

# 3. Initial Admin User Credentials (Seeded on first migration)
ADMIN_EMAIL="caspiretechnologies@gmail.com"
ADMIN_PASSWORD="Caspire@123"

# 4. REST API Server Configuration
PORT=3000
NODE_ENV=development
CORS_ORIGIN="https://localhost:4200"

# 5. SMTP Configuration for Contact Form Notifications (Optional)
SMTP_HOST=""
SMTP_PORT=
SMTP_USER=""
SMTP_PASS=""
SMTP_SECURE=""
NOTIFICATION_EMAIL=""
